@use '../abstracts/variables' as var;
@use "../abstracts/mixins" as m;

.ui.grid {
	margin-bottom: 0 !important;
}
	
.ui.black.button {
	display: inline-block;
	background-color: var.$def-btn-bg;
	color: #ffffff;
	font-family: var.$default-font;
	padding: 15px 30px !important;
	border: 0;
	margin-top: 20px;
	font-weight: normal !important;
}

.ui.black.button:hover {
	background: var.$def-btn-bg-hover;
	color: #fff;
}

.cfdiv_submit {
	text-align: left !important;
}

.ui.button,
.ui.form textarea,
.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'] {
	border-radius: 0;
	font-family: var.$default-font;
	min-height: 50px;
}

.ui.grid + .grid,
.ui.grid + .grid {
	margin-top: 0 !important;
}

.ui.divided.grid:not([class*='vertically divided']) > .column:not(.row),
.ui.divided.grid:not([class*='vertically divided']) > .row > .column {
	box-shadow: none;
}

.ui.form .field > label,
a.chronoforms6_credits {
	display: none;
}

form > .field.required {
	margin-top: 20px !important;
}

.klauzula {
	font-size: 0.9em;
	line-height: 140%;
}

.convertforms {
	background: transparent;
	font-family: var.$default-font;
}

.convertforms {
	color: white !important;;
	.cf-content-wrap,
	.cf-form-wrap {
		padding: 0;
	}
	.cf-control-group
		h2 {
			color: white !important;
			font-weight: 200;
			font-size: 16px;
		}
		&.left {
			float: left;
			width: 48%;
		}
	.cf-input {
		border: 1px solid #fff;
		border-radius: 0;
		border-width: 0 0 1px 0;
		color: white;
		background: transparent;
		padding: 20px 10px;
		font-weight: 200;
		&::placeholder {
			font-weight: 200;
			color: white;
			opacity: .7;
		}
	}
	.cf-control-input-desc {
		opacity: 1;
		font-size: 12px;
		color: white;
	}
	.cf-btn {
		display: inline-block;
		height: 50px;
		width: auto;
		text-align: center;
		background-color: transparent !important;
		color: var.$def-btn-color;
		margin-top: 20px;
		transition: var.$default-transition;
		border: 1px solid white;
		border-radius: calc(var.$def-btn-height / 2) !important;
		padding-left: 40px !important;
		padding-right: 40px !important;
		font-family: var.$default-font;
		font-weight: 200;
		&:hover {
			background-color: var.$def-btn-bg-hover;
			color: white;
		}
	}
}