@use '../abstracts/variables' as var;
@use "../abstracts/mixins" as m;

.sigplus-gallery {
	> ul {
		margin-top: 70px;
		margin-bottom: 40px;
		li {
			width: 32%;
			margin: 0;
			margin-right: 2%;
			margin-bottom: 2%;
			@include m.breakpoint(small) {
				float: none;
				width: 100%;
				margin-right: 0;
				margin-bottom: 20px;
			}
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}	
}

