@use '../abstracts/variables' as var;
@use "../abstracts/mixins" as m;

header {
	transition: var.$default-transition;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #c0c0c0;
	.header {
		padding-left: var.$spaceLR;
		padding-right: var.$spaceLR;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			margin-right: auto;
			img {
				height: var.$logo-height;
			}
		}
		.contact {
			display: flex;
			p {
				margin: 0;
			}
		}
	}
	&.smaller {
		padding: 0;
	}
}